# ===========================
# Backend Python / TensorFlow
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.h5          # modèles lourds
*.ipynb_checkpoints/
env/
venv/
*.log
*.sqlite3


# ===========================
# IDEs
# ===========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===========================
# System files
# ===========================
.DS_Store
Thumbs.db